.survey {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
  margin-top: 2rem;
  padding: 20px;
  border-radius: 5px;
  /* background: whitesmoke;
  box-shadow: 0 0 20px #2b59ed;   */
}

.question-content {
  font-weight: 550;
  min-width: 10rem;
}

.submit {
  background: #2b59ed;
  height: 37px;
  width: 150px;
  font-family: sans-serif;
  border-radius: 4px;
  border: none;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  box-shadow: 0 0 5px #2b59ed;  
}

.submit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px #2b59ed;  
}

.survey-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 4px #2b59ed;
  transition: opacity 1s;
}

.answer {
  color: black;
  background-color: lightgray;
  padding: 7px;
  margin: 4px;
  font-family: sans-serif;
  font-size: medium;
  border: #2b59ed 1px solid;
  border-radius: 4px;
}

textarea {
  width: 500px;
  height: 40px;
  margin: auto;
}

.multi-answers {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
}

.single-answers {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
}

.single-answers:hover {
  cursor: pointer;
}

.multi-answers:hover {
  cursor: pointer;
}

.multi:hover {
  box-shadow: 0 1px 3px #2b59ed;
}

.single:hover {
  box-shadow: 0 1px 3px #2b59ed;
}

.binary-answers {
  width: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.binary-answers:hover {
  cursor: pointer;
}

.binary:hover {
  box-shadow: 0 1px 3px #2b59ed;
}

#survey-factory {
  display: flex;
  background: whitesmoke;
  box-shadow: 0 1px 3px #2b59ed;
  padding: 20px;
  border-radius: 4px;
  flex-direction: column;
  margin: auto;
  width: 700px;
}

.unanswered {
  display: none;
}

#controls {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  /* box-shadow: 0 1px 3px #2b59ed;
  border-radius: 4px; */
}

#controls > div {
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0 1px 3px #2b59ed;
}

#controls > div:hover {
  box-shadow: 0 1px 6px #2b59ed;
  cursor: pointer;
}

.answered {
  opacity: .15;
}

.hidden {
  display: none;
}

#loading-bar-container {
  position: relative;
  height: 30px;
  width: 100%;
  background: whitesmoke;
  text-align: center;
  text-justify: auto;
  color: white;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 200px;
}

#loading-bar {
  border-radius: 5px;
  position: relative;
  height: 100%;
  width: 1%;
  background: #2b59ed;
  transition: width .75s;
}

.animate {
  transform: translateX(20px);
  /* box-shadow: 0 1px 10px #2b59ed; */
}